* {
  margin: auto;
  padding: auto;
}
.todo {
  height: 100vh;
  background-color: burlywood;
}
form {
  background-color: azure;
  border: 2px solid black;
  height: 200px;
  width: 600px;
  margin-top: 20px;
}
h1 {
  text-align: center;
}
form {
  position: relative;
  justify-content: center;
  text-align: center;
  background-color: rgb(17, 13, 104);
}
input {
  margin-top: 12%;
  text-align: center;
}
