* {
  margin: auto;
  padding: auto;
}
.todo {
  height: 100vh;
  background-color: burlywood;
}
h1 {
  text-align: center;
}
form {
  position: relative;
  justify-content: center;
  text-align: center;
  background-color: red;
}
